header{
    background-color: lightcyan;
    display: flex;
    height: 100px;
    flex-direction: row;
}


.navigation-bar{
    display: flex;
    flex: 1;
    flex-direction: row;

    padding-left: 5px ;
    padding-right: 5px;

    background-color: lightcyan;
    border-style: solid;
    border-color: lightcoral;

    align-items: center;
    justify-content: space-between;
}

.portfolio-icon{    
    margin-right: 10px;

    width: 100px;
    height: 30px;
    display: flex;

    align-items: center;
    justify-content: center;

    background-color:  rgb(43, 42, 42);
    border-style: solid;
    border-color:  rgb(43, 42, 42);
    border-radius: 25px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}


.menu-items{
    max-width: 500px;
    min-width: 50px;
   height: 35px;

    background-color:  rgb(43, 42, 42);
    border-style: solid;
    border-color:  rgb(43, 42, 42);
    border-radius: 25px;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

.contact-me{
    margin-left: 10px;

    max-width: 100px;
    min-width: 80px;
    width: 100%;
    height: 33px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    background-color: rgb(43, 42, 42);
    border-style: solid;
    border-color: rgb(43, 42, 42);
    border-radius: 30px;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;

}